<!DOCTYPE html>
<!--
 * @title	: [관리자] 공통코드 관리 화면
 * @author	: 김모세
 * @create	: 2022.07.20
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/admin/header :: fragment-header" />
    <script type="text/javascript">
		var fnObj = {
			pageInit: {
				bind: function(){
					fnObj.grid.bind();
				}
			},		
			btns: {
				
			},
			grid: {
				bind: function(){
					
					// 이벤트 적용
					fnObj.grid.attachEvent();
				},
				attachEvent: function(){
					// 상세 코드 조회
					$("#masterCodeTable").on("click", "tr", function(e){
						var params = {};
						
						// Td Index로 설정 시, 추후 컬럼 변경 시 지속적으로 수정해줘야 하므로 보완 필요
						params.cdmId = $(this).children().eq(1).text();
						com.sendPost("/ad/codeList", params);
					})
				}
			},
		}
		$(document).ready(function(){
			fnObj.pageInit.bind();
		});		
   </script>
</head>
<body>
	<!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div> 
    
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin5" data-sidebartype="full"
         data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">
		
		<!-- Topbar -->        
        <th:block th:replace="fragments/cm/admin/topbar :: fragment-topbar" />
        
        <!-- Left Sidebar -->
        <th:block th:replace="fragments/cm/admin/aside :: fragment-aside" />
        
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <div class="page-breadcrumb bg-white">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">
                        	<a href="#">Common Code</a>
                        </h4>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Master Code Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                        	<div class="row align-items-center">
								<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        			<h3 class="box-title">Master Code</h3>
                        		</div>
                        		<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                        			<div class="d-md-flex float-right">
	                        			<a href="#" class="btn btn-primary">insertCode</a>
	                        			<a href="#" class="btn btn-danger">DetailCode</a>
                        			</div>
                        		</div>
                        	</div>
                            <div class="table-responsive">
                                <table id="masterCodeTable" class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="col-1 border-top-0">#</th>
                                            <th class="col-3 border-top-0">ID</th>
                                            <th class="col-3 border-top-0">Name</th>
                                            <th class="col-4 border-top-0">Desc</th>
                                            <th class="col-1 text-center border-top-0">UseYn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr th:if="${not #lists.isEmpty(codeMasterDTOList)}" th:each="codeMasterDTO, row : ${codeMasterDTOList}">
                                        	<td th:text="${row.index + 1}"></td>
                                        	<td th:text="${codeMasterDTO.cdmId}"></td>
                                        	<td th:text="${codeMasterDTO.cdmNm}"></td>
                                        	<td th:text="${codeMasterDTO.cdmDesc}"></td>
                                        	<td class="text-center" th:text="${codeMasterDTO.useYn}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- Detail Code Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <h3 class="box-title">Detail Code</h3>
                            <div class="table-responsive">
                                <table class="table table-hover text-nowrap">
                                    <thead>
                                        <tr>
                                            <th class="col-1 border-top-0">#</th>
                                            <th class="col-2 border-top-0">ID</th>
                                            <th class="col-2 border-top-0">Name</th>
                                            <th class="col-2 border-top-0">Desc</th>
                                            <th class="col-1 text-center border-top-0">Sort</th>
                                            <th class="col-1 text-center border-top-0">UseYn</th>
                                            <th class="col-1 text-center border-top-0">Attr1</th>
                                            <th class="col-1 text-center border-top-0">Attr2</th>
                                            <th class="col-1 text-center border-top-0">Attr3</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    	<tr th:if="${not #lists.isEmpty(codeDetailDTOList)}" th:each="codeDetailDTO, row : ${codeDetailDTOList}">
                                        	<td th:text="${row.index + 1}"></td>
                                        	<td th:text="${codeDetailDTO.cddId}"></td>
                                        	<td th:text="${codeDetailDTO.cddNm}"></td>
                                        	<td th:text="${codeDetailDTO.cddDesc}"></td>
                                        	<td class="text-center" th:text="${codeDetailDTO.cddSort}"></td>
                                        	<td class="text-center" th:text="${codeDetailDTO.useYn}"></td>
                                        	<td class="text-center" th:text="${codeDetailDTO.attribute1}"></td>
                                        	<td class="text-center" th:text="${codeDetailDTO.attribute2}"></td>
                                        	<td class="text-center" th:text="${codeDetailDTO.attribute3}"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
		</div>
	</div>
</body>
</html>