<!DOCTYPE html>
<!--
 * @title	: 메인 화면
 * @author	: 김모세
 * @create	: 2022.07.07
-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/login/header :: fragment-header" />
    <script type="text/javascript">
		var fnObj = {
			pageInit: {
				bind: function(){
				}
			},		
			btns: {
				// 관리자 페이지 이동
				moveAdminMain: function(){
					location.href = "/ad/main";
				},
				// 로그아웃
				signOut: function(){
					if (confirm("로그아웃하시겠습니까?")) {
						com.sendPost("/signOut", {});
					}				
				}
			}
		}
		$(document).ready(function(){
			fnObj.pageInit.bind();
		});		
   </script>
</head>
<body>
	<div>
		<a data-toggle="tab" href="#" onclick="fnObj.btns.moveAdminMain()">Admin</a>
		<a data-toggle="tab" href="#" onclick="fnObj.btns.signOut()">Sign Out</a>
	</div>
</body>
</html>