<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:replace="fragments/cm/login/header :: fragment-header" />
    <script type="text/javascript">
		var fnObj = {
			pageInit: {
				bind: function(){
					fnObj.combo.bind();
					fnObj.form.bind();
				}
			},
			combo: {
				bind: function(){
					// 레벨 콤보
					com.callAjax("/cm/comCodeList", {comboId: "userLevelCd", cdmId: "USER_LEVEL_CD"}, com.comboBind, false);
					
					// 성별 콤보
					com.callAjax("/cm/comCodeList", {comboId: "userGenderCd", cdmId: "USER_GENDER_CD"}, com.comboBind);
					
					// 회원 구분 콤보 (=가입유형) 
					com.callAjax("/cm/comCodeList", {comboId: "userDivCd", cdmId: "USER_DIV_CD", attribute1: "USER"}, com.comboBind);
					
					// 이벤트 적용
					fnObj.combo.attachEvent();
					
					// 콤보 시작 설정
					fnObj.combo.comboInit();
				},
				attachEvent: function(){
					// 레벨 콤보 change 이벤트
					$("#userLevelCd").on("change", function(){
						
						// 선택 레벨에 대한 설명 화면 표시
						$("#userLevelDesc").text($(this).find("option:selected").data("sub"));
					});
				},
				comboInit: function(){
					// 레벨 설명 기본값 설정
					$("#userLevelDesc").text($("#userLevelCd").find("option:selected").data("sub"));
				}
			},
			form: {
				bind: function(){
					// 이벤트 적용
					fnObj.form.attachEvent();
				},
				attachEvent: function(){
					// 패스워드 체크 blur 이벤트
					$(".userPwChk").on("blur", function(){
						var userPw = $("#userPw").val();
						var userPwChk = $("#userPwChk").val();
						var userPwChkMsg;
						
						if (com.isNull(userPw) && com.isNull(userPwChk)) {
							$("#userPwChkMsg").addClass('d-none');
						} else {
							$("#userPwChkMsg").removeClass('d-none');
						}
						
						if (userPw == userPwChk) {
							userPwChkMsg = "비밀번호가 일치합니다";
						} else {
							userPwChkMsg = "비밀번호가 일치하지 않습니다";
						}
						
						$("#userPwChkMsg").text(userPwChkMsg);
					});
				},
				validation: function(){
					// 비밀번호 체크
					var userPw = $("#userPw").val();
					var userPwChk = $("#userPwChk").val();
					
					if (!(userPw == userPwChk)) {
						alert("비밀번호를 확인해주세요");
						return false;
					}
					
					return true;
				}		
			},
			btns: {
    			// 회원가입
    			signUp: function(){
    				// 유효성 체크
    				if (!fnObj.form.validation()) {
    					return;
    				}
    			
    				var params = $("#signUpForm").serializeObject();
					com.callAjax("/ur/signUpSave", params, fnObj.callback.signUp);			
    			}
			},
			callback: {
				// 회원가입
				signUp: function(data) {
					alert("signUp callback");
				}
			}
		}
		$(document).ready(function(){
			fnObj.pageInit.bind();
		});
   </script>
</head>
<body>
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 col-lg-10">
					<div class="wrap d-md-flex">
						<div class="img" style="background-image: url(/images/login/login-1.jpg);"></div>
						<div class="login-wrap p-4 p-md-5">
			      			<div class="d-flex">
			      				<div class="w-100">
			      					<h3 class="mb-4">Sign Up</h3>
			      				</div>
			      			</div>
							<form id="signUpForm" onsubmit="fnObj.btns.signUp()">
								<!-- 아이디 -->
			      				<div class="form-group mb-3">
			      					<label class="label" for="name">ID</label>
			      					<input type="text" id="userId" name="userId" class="form-control" placeholder="UserID" required>
			      				</div>
			      				<!-- 비밀번호 -->
					            <div class="form-group mb-3">
					            	<label class="label" for="password">PASSWORD</label>
					              	<input type="password" id="userPw" name="userPw" class="form-control userPwChk" placeholder="Password" required>
					            </div>
					            <!-- 비밀번호 체크 -->
					            <div class="form-group mb-3">
					            	<label class="label" for="userPwChk">PASSWORD CHECK</label>
					              	<input type="password" id="userPwChk" class="form-control userPwChk" placeholder="Password Check" required>
					              	<label id="userPwChkMsg" class="d-none"></label>
					            </div>
					            <!-- 이름 -->
					            <div class="form-group mb-3">
			      					<label class="label" for="userName">USER NAME</label>
			      					<input type="text" id="userName" name="userId" class="form-control" placeholder="UserName" required>
			      				</div>
					            <!-- 레벨 -->
					            <div class="form-group mb-3">
			      					<label class="label" for="userLevelCd">USER LEVEL</label>
			      					<select id="userLevelCd" name="userLevelCd" class="form-control" required></select>
			      					<label id="userLevelDesc"></label>
			      				</div>
					            <!-- 생년월일 -->
					            <div class="form-group mb-3">
			      					<label class="label" for="userBirth">USER BIRTH</label>
			      					<input type="date" id="userBirth" name="userBirth" class="form-control" placeholder="UserBirth" required>
			      				</div> 
					            <!-- 성별 -->
					            <div class="form-group mb-3">
			      					<label class="label" for="userGenderCd">USER GENDER</label>
			      					<select id="userGenderCd" name="userGenderCd" class="form-control" required></select>
			      				</div>
					            <!-- 닉네임 -->
					            <div class="form-group mb-3">
			      					<label class="label" for="userNickname">USER NICKNAME</label>
			      					<input type="text" id="userNickname" name="userNickname" class="form-control" placeholder="UserNickname" required>
			      				</div>
					            <!-- 가입구분 -->
					            <div class="form-group mb-3">
			      					<label class="label" for="userDivCd">JOIN TYPE</label>
			      					<select id="userDivCd" name="userDivCd" class="form-control" required></select>
			      				</div>
					            <!-- 가입하기 -->
					            <div class="form-group">
					            	<button id="btnSignUp" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
					            </div>
		            			<div class="form-group d-md-flex">
		            				<div class="w-100 text-right">
			            				<a data-toggle="tab" href="#" onclick="history.back(); return false;">Back</a>
			            			</div>
		            			</div>
		          			</form>
		        		</div>
		      		</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>